function article (data){ return`
<article class="col-md-8">
	<h1>${data.headLine}</h1>
	<p><strong>${data.ingress.join("<strong><p></p></strong>")}</strong></p>
	<p>${data.text.join("<p></p>")}</p>
	
	<div class="row">
  <div class="col-xs-12 col-md-12">
    <a href="#" class="thumbnail">
      <img src= "${data.picture}">
    </a>
  </div>
</div>

	<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="${data.video}"></iframe>
</div>

	<!-- <div>
	   <iframe width="560" height="315" src =  frameborder="0" allowfullscreen></iframe>
	</div> -->
	<div><p>${data.author}</p>
		 <p>${data.date}</p>

	</div>

</article>
<div class="puffs col-xs-12 col-md-4">
	${this.puff(this.arrPuff[0])}
	${this.puff(this.arrPuff[1])}
	${this.puff(this.arrPuff[2])}
</div>

`} 
