function article (data){ return`
<article>
	<h1>title</h1>
	<p><strong>Paragraph, should be bold</strong></p>
	<p>Paragraph 2</p>
	<div>
		<img src="http://placehold.it/500x300" alt="">
	</div>
	<div>
		<iframe width="500" height="300" src="https://www.youtube.com/embed/WdL_IsD646I" frameborder="0" allowfullscreen></iframe>
	</div>
	<div><p>Author information</p></div>
</article>
<div class="puffs">
	${this.puff(this.arrPuff[0])}
	${this.puff(this.arrPuff[1])}
	${this.puff(this.arrPuff[0])}
</div>

`} 